.Literature__reference-block {
    padding-top: 1.75em;
    padding-left: 0.5em; 
    line-height: 1.5;
}

.Literature__reference {
    padding-bottom: 0.25em;
    padding-left: 1em;
}

.Literature__reference > a {
    padding-right: 0.5em;
}

@media screen and (max-width: 550px) {
    .Literature__author-year {
        display: block;
    }
}